<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <title>Upload Files</title>
</head>
<body>
  <center><h1>Upload Files<h1/></center>
  <hr>

  <form action="upload.cgi" method="post" enctype="multipart/form-data">
    <input type="hidden" name="filesize" id="filesize">
    <input type="file"   name="file"     id="file" onchange="file_upload_event()"><br><br>
    <input type="submit" value="Upload to Board">
  </form>
  <button onclick="upload_file()">Submit</button>

  <script>
    function get_Filesize() {
      const uploaded_file = document.getElementById('file');
      if (uploaded_file.files.length > 0) {
        var file_size = document.getElementById('filesize').value = uploaded_file.files[0].size;
        console.log("Filesize: " + file_size);
      }
    }

    function get_Filebytes() {
      const input = document.querySelector('input[type="file"]');
      const file  = input.files[0];

      const reader = new FileReader();
      reader.readAsArrayBuffer(file);

      console.log("Upload......");
      reader.onload = (event) => {
        const result = event.target.result;
        console.log(result);
        console.log("Upload success");
      };
    }

    function file_upload_event() {
      get_Filesize();
      get_Filebytes();
    }

    function upload_file() {
      const input = document.querySelector('input[type="file"]');
      const file  = input.files[0];
      const reader = new FileReader();

      var   filename, filesize, filebytes;
      reader.readAsArrayBuffer(file);
      reader.onload = (event) => {
        filename  = file.name;
        filebytes = event.target.result;
        filesize  = filebytes.byteLength;
        console.log(filebytes);
        console.log(filename);
        console.log(filesize);

        let header = "<SIZE>" + filesize + "<NAME>" + filename + "<BYTE>";
        console.log(header);
        console.log(header.length);
        var header_array = new TextEncoder().encode(header);

        const merged_buffer = new ArrayBuffer(header_array.byteLength + filesize);
        const merged_view   = new DataView(merged_buffer);

        merged_view.setUint8(0, 2);

        var idx = 0;
        for (var i = 0; idx < header_array.byteLength; i++) {
          merged_view.setUint8(idx, header_array[idx]);
          idx++;
        }
      

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload.cgi", false);
        xhr.send(merged_buffer);
      };
    }


  </script>

</body>
</html>