<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <title>Upload Files</title>
</head>
<body>
  <center><h1>Upload Files<h1/></center>
  <hr>
  <input list="path_list" value="/tmp/" id="path">
  <datalist id="path_list">
    <option value="/usr/">
    <option value="/tmp/">
  </datalist>
  <br><br>
  <input type="file" name="file" id="file"><br><br>
  <button onclick="upload_file()">Submit</button>

  <script>
    function upload_file() {
      const save_path = document.querySelector('input[id="path"]').value;
      const input     = document.querySelector('input[id="file"]');
      const file      = input.files[0];
      const reader    = new FileReader();
      const xhr       = new XMLHttpRequest();

      reader.readAsArrayBuffer(file);
      reader.onload = (event) => {
        const filename  = file.name;
        const filebytes = event.target.result;
        const filesize  = filebytes.byteLength;

        const header       = "<PATH>" + save_path + "<SIZE>" + filesize + "<NAME>" + filename + "<BYTE>";
        const header_array = new Uint8Array(new TextEncoder().encode(header));
        const file_array   = new Uint8Array(filebytes);

        var upload_buffer = new ArrayBuffer(header_array.byteLength + filesize);
        var upload_view   = new DataView(upload_buffer);

        var idx = 0;
        for (var i = 0; i < header_array.byteLength; i++) {
          upload_view.setUint8(idx, header_array[i]);
          idx++;
        }

        for (var i = 0; i < file_array.byteLength; i++) {
          upload_view.setUint8(idx, file_array[i]);
          idx++;
        }

        xhr.open("POST", "/upload.cgi", false);
        xhr.send(upload_buffer);
        alert(xhr.response);
        input.value = "";
      };
    }
  </script>

</body>
</html>